.feedPage {
    height: 100%;

    width: 100%;
}

.feedWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;

    margin: 0 auto;
}

.feedPageCards {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feedPageCard {

    padding: 3px 15px;

    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    transition: all .2s ease;

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transform: scale(1.02);
    }

    &:last-child {
        margin-bottom: 30px;
    }
}